{% extends "base.html" %}
{% block body %}
<div class="container">
      <div class="row">
          {% if all_reports %}
           <div class="col-sm-6">
             <h2>All Reports</h2>
              <button type="button" class="btn btn-primary button-link" align='center'><a class="btn-primary" href="{% url 'hakuna_matata:projects' %}">Go Back</a></button>

            <div class="panel-body row">
             <table class="table">
                  <thead>
                    <tr>
                      <th>Usecase</th>
                      <th>Reports</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for usecase in all_reports %}
                    <tr>
                        <td>
                          {{usecase.use_case}}
                        </td>
                        <td>
                          <a href="{% url 'hakuna_matata:view_report' usecase.id %}">View</a>
                        </td>
                    </tr>
                  {% endfor %}
                  </tbody>
              </table>
            </div>
           </div>
          {% else %}
          <div class="col-sm-6">
            <h2>Sorry!!! , No Reports</h2>
            <button type="button" class="btn btn-primary button-link" align='center'><a class="btn-primary" href="{% url 'hakuna_matata:projects' %}">Go Back</a></button>
          </div>
          {% endif %}
      </div>
</div>
{% endblock body %}
